{% load static %}

<!-- Hi! If you're reading this then maybe I could make a good fit in your company. I'm currently looking for work, so feel free to contact me for more info!  -Eivydas   -->
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>About | eivydas.com</title>
	<body oncontextmenu="return false;">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/about" class="active">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>

		<div class="main">
			<div class="fade-in2">
				<img src="{% static 'images/text2.png' %}" class="text2">

				<div class="shadow">
					<div class="box1">
						<img src="{% static 'images/map-lithuania.png' %}" class="img1">
						<span>
							<p class="p1">I was born in 1998 in a small village town in rural Lithuania.</p>
						</span>
					</div>
				</div>

				<div class="rectangle1"></div>

				<div class="shadow">
					<div class="box2">
						<img src="{% static 'images/bottles.jpg' %}" class="img2">
						<span>
							<p class="p2">As a child I used to enjoy farming with family and searching trash cans for bottles to turn in for coins.</p>
						</span>
					</div>
				</div>

				<div class="rectangle2"></div>

				<div class="shadow">
					<div class="box3">

						<img src="{% static 'images/usa.png' %}" class="img3">
						<span>
							<p class="p3">From the age of birth until age 8 I was in a foster home, until my dad came and brought me to the United States.</p>
						</span>

					</div>
				</div>

				<div class="rectangle3"></div>

				<div class="shadow">
					<div class="box6">

						<img src="{% static 'images/computer.jpg' %}" class="img2">
						<span>
							<p class="p6">From early age I enjoyed tinkering with computers, and in my teens I jumped into game development on a popular game platform.</p>
						</span>

					</div>
				</div>


				<div class="rectangle4"></div>

				<div class="shadow">
					<div class="box7">

						<img src="{% static 'images/uic.jpg' %}" class="img3">
						<span>
							<p class="p7">This eventually led me to major in computer science, and it’s something I’ve had passion for ever since.</p>
						</span>

					</div>
				</div>

				<div class="rectangle5"></div>

				<div class="shadow">
					<div class="box8">

						<img src="{% static 'images/img3.jpg' %}" class="img2">
						<span>
							<p class="p8">I envision myself to one day be a part of a technology company that will help move the world forward.</p>
						</span>

					</div>
				</div>

				<div class="rectangle6"></div>
				<div class="triangle-down1"></div>

			</div>
		</div>
	</body>
</html>
