{% load static %}

<!-- Hi! If you're reading this then maybe I could make a good fit in your company. I'm currently looking for work, so feel free to contact me for more info!  -Eivydas   -->
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>Home</title>
	<body oncontextmenu="return false;">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about" class="active">About</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>

		<div class="main">
			<div class="fade-in">
			   <img src="{% static 'images/logo.png' %}" class="logo">
			   <img src="{% static 'images/text1.png' %}" class="text1">
			</div>
			<div class="fade-in2">
				<img src="{% static 'images/text2.png' %}" class="text2">



				<div class="box1">
					<img src="{% static 'images/map-lithuania.png' %}" class="img1">
					<!--<div class="boxtext1">-->
					<span>
						<p class="p1">I was born in 1998 in a small village town in rural Lithuania.</p>
					</span>
				</div>

				<div>
					<p>I was born in 1998 in a small village town in rural Lithuania.</p>
				</div>

				<div>
					<p>I used to enjoy farming with family and searching trash cans for bottles to turn in for coins. From the age of birth until age 8 I was in a foster home, until my dad came and brought me to the United States. From early age I enjoyed tinkering with computers, and in my teens I jumped into game development on a popular game platform. This eventually led me to major in computer science, and it’s something I’ve had passion for ever since. I envision myself to one day be a part of a technology company that will help move the world forward.</p>
				</div>

			</div>
		</div>
	</body>
</html>
