{% load static %}

<!-- Hi! If you're reading this then maybe I could make a good fit in your company. I'm currently looking for work, so feel free to contact me for more info!  -Eivydas   -->
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>Contact | eivydas.com</title>
	<body oncontextmenu="return false;">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact" class="active">Contact</a></li>
			<li><a class= "projBar" href="/breathe" target="_blank">Breathe.</a></li>
		</ul>

		<div class="main">
			<div class="fade-in">
			   <img src="{% static 'images/logo.png' %}" class="logo">
			   <img src="{% static 'images/text1.png' %}" class="text1">
			</div>

			<div class="fade-in2">
				<div class="shadow4">
					<div class="box9">
						<div class="text4">
							<h1 style="text-align: center; transform: translate(-17%, 0%);">Contact</h1>
							<p style="text-align: center; transform: translate(-7%, -60%);">📧 erauly2@uic.edu</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
