{% load static from staticfiles %}

<!-- Hi! If you're reading this then maybe I could make a good fit in your company. I'm currently looking for work, so feel free to contact me for more info!  -Eivydas   -->
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>Home</title>
	<body oncontextmenu="return false;">
		<ul>
			<li><a href="#home" class="active">Home</a></li>
			<li><a href="#projects">About</a></li>
			<li><a href="#contact">Projects</a></li>
			<li><a href="#about">Contact</a></li>
		</ul>

		<div class="main">
			<img src="{% static 'images/logo.png' %}" alt="test" class="logo">
			<img src="{% static 'images/text1.png' %}" alt="test" class="text1">

			<h1>Welcome!</h1>
			<p>This site was made from scratch with
			<a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://www.python.org/" target="_blank">Python</a> for backend, and HTML and CSS for frontend.</p>
			<p>I'm currently pursuing summer internships or other full time positions for web development or software engineering.</p>
			<p>I have an eye for <em>quality</em>, if you hire me you can expect only the <u>best</u>. Feel free to look around!</p>
			<p>- Eivydas</p>
		</div>

	</body>
</html>
