{% load static %}

<!-- Hi! If you're reading this then maybe I could make a good fit in your company. I'm currently looking for work, so feel free to contact me for more info!  -Eivydas   -->
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>Home | eivydas.com</title>
	<body oncontextmenu="return false;">
		<ul>
			<li><a href="/" class="active">Home</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a class= "projBar" href="/breathe" target="_blank">Breathe.</a></li>
			<li><a href="/candy" target="_blank">Candy Crush</a></li>
		</ul>

		<div class="main">
			<div class="fade-in">
			   <img src="{% static 'images/logo.png' %}" class="logo">
			   <img src="{% static 'images/text1.png' %}" class="text1">
			</div>

			<div class="fade-in2">
				<div class="shadow2">
					<div class="box4">
						<div class="text3">
							<h1>Welcome!</h1>
							<p>This site was made from scratch with
							<a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://www.python.org/" target="_blank">Python</a> for backend, and HTML and CSS for frontend.
							See the code <a href="https://github.com/eivydas-r/portfolio" target="_blank">here</a>.
							</p>
							<p>I'm currently pursuing full time positions in full stack web and application development in software engineering.</p>
							<p>I have an eye for <em>quality</em>, if you hire me you can expect only the <u>best</u>. Feel free to look around!</p>
							<p>- Eivydas</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
