{% load static from staticfiles %}

<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>Home</title>

	<body>
		<ul>
			<li><a href="#home" class="active">Home</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#contact">Contact</a></li>
			<li><a href="#about">About</a></li>
		</ul>

		<div class="main">
			<img src="{% static 'images/logo.png' %}" alt="test" class="logo">
			<img src="{% static 'images/text1.png' %}" alt="test" class="text1">

			
		</div>

	</body>
</html>
