{% load static %}

<!-- Hi! If you're reading this then maybe I could make a good fit in your company. I'm currently looking for work, so feel free to contact me for more info!  -Eivydas   -->
<html>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<title>Resume</title>

	<body oncontextmenu="return false;">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/resume" class="active">Resume</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</body>

	<div class="fade-in">
		<iframe src="{% static '/other/resume2020-4.pdf' %}#zoom=FitH#view=FitV" style="position:absolute;right:0; top:0; bottom:0; width:84%;" height="10800px"></iframe>
	</div>
</html>
